.bg-home {
    background-color: #1a1822;
    // height: 100vh;
}

.about-me {
    background-image: linear-gradient(rgb(139, 179, 220), rgba(1, 90, 179, 0));
    line-height: 150%;
    text-align: justify;

    .description-about {
        padding: 30px 0;

        p {
            padding: 14px 0;
        }

        .stacks-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 150px 0;

            i,
            span {
                font-size: 50px;
                cursor: default;
            }
        }
    }
}

.projects {
    .pesquisa {
        padding: 50px 0;

        input {
            width: 30%;
            border: 1px solid $primary;
            height: 25px;
            padding: 0 10px;
            border-radius: 10px;
        }
    }

    .projeto {
        display: flex;
        gap: 14px;
        padding: 40px 0;


        .description-projeto {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex: 1;

            .buttons-card {
                display: flex;
                gap: 20px;

                a {
                    height: 30px;
                    width: 180px;
                    background-color: $primary;
                    color: $white-normal;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    i {
                        font-size: 20px;
                    }
                }

                a:hover {
                    animation: translateY 0.8s infinite alternate;
                }
            }
        }

        img {
            border: 1px solid $dark-light;
            overflow: hidden;
            width: 400px;
            height: 100%;
            border-radius: 10px;
        }
    }

    .botao-ver-mais-projetos {
        display: flex;
        justify-content: center;
        padding: 40px 0;

        button {
            border: 1px solid $primary;
            width: 150px;
            height: 30px;
            border-radius: 20px;
            transition: ease-in-out 0.3s all;

            &:hover {
                background-color: $primary;
                color: $white-normal;
            }
        }
    }

    .show {
        display: flex;
    }

    .hidden {
        display: none;
    }
}

.experience {
    .experiencia {
        max-width: 70%;

        p {
            font-size: 13px;
            margin-left: 10px;
        }
    }

    .empresa {
        padding: 40px 0;
    }

    .experiencia:nth-child(2) {
        padding-top: 50px;
    }

    .divisor {
        border-left: 1px solid black;
        width: 1px;
        height: 10vh;
        padding: 5px;
    }
}

.footer-description {
    background-color: $primary;
    min-height: 20vh;
    color: $white-normal;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 0;

    .contato {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 10px;
        gap: 15px;
    }

    .direitos {
        display: flex;
        justify-content: center;

        p {
            font-size: 15px;
        }
    }
}

.buttons {
    display: flex;

    .btn-flutuante {
        position: fixed;
        bottom: 14px;
        right: 24px;
        z-index: 99;

        &.topo {
            right: 100px;
        }

        img {
            max-width: 74px;
            transition: transform 0.4s;

            &:hover {
                transform: scale(1.1);
            }
        }

        &:hover .tooltip-text {
            visibility: visible;
            opacity: 1;
        }

        .tooltip-text {
            visibility: hidden;
            position: absolute;
            width: 120px;
            top: 8px;
            left: -144px;
            padding: 4px;
            border-radius: 8px;
            background-color: black;
            color: white;
            text-align: center;
            opacity: 0;
            transition: opacity 0.4s;

            &.topo {
                left: -200px;
            }
        }
    }
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }

    to {
        transform: translateY(-8px) scale(1.1);
    }
}

@media screen and (max-width: 768px) {
    .about-me {
        padding-top: 50px;

        .description-about {

            p {
                text-align: justify;
            }

            .stacks-icons {
                padding: 10px 0;

                i {
                    font-size: 40px;
                }
            }
        }
    }

    .projects {
        .pesquisa {
            padding: 40px 0;

            input {
                width: 100%;
            }
        }

        .projeto {
            flex-direction: column;

            .description-projeto {
                text-align: center;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
        }

        img {
            width: 100% !important;
        }
    }

    .experience {
        padding-bottom: 20px;

        .experiencia {
            max-width: 100%;
        }
    }

    .footer-description {
        justify-content: space-between;
        flex-direction: column;

        .contato {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .direitos {
            justify-content: center;
            align-items: center;
            flex-direction: column;

            p {
                font-size: 10px;
            }
        }
    }

    .btn-flutuante {
        img {
            max-width: 40px !important;
        }

        &.topo {
            right: 70px !important;
        }
    }
}