* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  text-shadow: 0.1em 0.1em #333;
}
.nav-bar .menu-nav {
  display: flex;
  gap: 14px;
}
.nav-bar .menu-nav a {
  display: inline-block;
  color: #FFF;
}
.nav-bar .menu-nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #FFF;
  transition: width 0.3s;
}
.nav-bar .menu-nav a:hover::after {
  width: 100%;
}

.profile {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  gap: 100px;
  color: #FFF;
}
.profile .foto-perfil img {
  border-radius: 100%;
  width: 300px;
}
.profile .description-perfil {
  text-shadow: 0.1em 0.1em #333;
  line-height: 150%;
}
.profile .description-perfil h2 {
  padding: 20px 0;
}
.profile .description-perfil .social-media {
  display: flex;
  padding: 20px 0;
  gap: 25px;
}
.profile .description-perfil .social-media i {
  color: #FFF;
}
.profile .description-perfil .social-media a:hover {
  animation: translateY 0.8s infinite alternate;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
@media screen and (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav-bar .menu-nav {
    font-size: 15px;
  }
  .profile {
    flex-direction: column;
    gap: 0;
    min-height: auto;
  }
  .profile .foto-perfil img {
    padding: 40px 0;
    border-radius: 100%;
    width: 150px;
  }
  .profile .description-perfil {
    text-align: center;
  }
  .profile .description-perfil .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
  .profile .description-perfil p {
    font-size: 15px;
  }
  .profile .description-perfil h2 {
    padding-bottom: 14px;
  }
}
.container {
  margin: 0 auto;
  padding: 0 10px;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(rgb(0, 61, 122), rgba(1, 90, 179, 0.507));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.about-me {
  background-image: linear-gradient(rgb(139, 179, 220), rgba(1, 90, 179, 0));
  line-height: 150%;
  text-align: justify;
}
.about-me .description-about {
  padding: 30px 0;
}
.about-me .description-about p {
  padding: 14px 0;
}
.about-me .description-about .stacks-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 150px 0;
}
.about-me .description-about .stacks-icons i, .about-me .description-about .stacks-icons span {
  font-size: 50px;
  cursor: default;
}

.projects .pesquisa {
  padding: 50px 0;
}
.projects .pesquisa input {
  width: 30%;
  border: 1px solid rgb(76, 84, 92);
  height: 25px;
  padding: 0 10px;
  border-radius: 10px;
}
.projects .projeto {
  display: flex;
  gap: 14px;
  padding: 40px 0;
}
.projects .projeto .description-projeto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}
.projects .projeto .description-projeto .buttons-card {
  display: flex;
  gap: 20px;
}
.projects .projeto .description-projeto .buttons-card a {
  height: 30px;
  width: 180px;
  background-color: rgb(76, 84, 92);
  color: #FFF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.projects .projeto .description-projeto .buttons-card a i {
  font-size: 20px;
}
.projects .projeto .description-projeto .buttons-card a:hover {
  animation: translateY 0.8s infinite alternate;
}
.projects .projeto img {
  border: 1px solid #3a3a3a;
  overflow: hidden;
  width: 400px;
  height: 100%;
  border-radius: 10px;
}
.projects .botao-ver-mais-projetos {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.projects .botao-ver-mais-projetos button {
  border: 1px solid rgb(76, 84, 92);
  width: 150px;
  height: 30px;
  border-radius: 20px;
  transition: ease-in-out 0.3s all;
}
.projects .botao-ver-mais-projetos button:hover {
  background-color: rgb(76, 84, 92);
  color: #FFF;
}
.projects .show {
  display: flex;
}
.projects .hidden {
  display: none;
}

.experience .experiencia {
  max-width: 70%;
}
.experience .experiencia p {
  font-size: 13px;
  margin-left: 10px;
}
.experience .empresa {
  padding: 40px 0;
}
.experience .experiencia:nth-child(2) {
  padding-top: 50px;
}
.experience .divisor {
  border-left: 1px solid black;
  width: 1px;
  height: 10vh;
  padding: 5px;
}

.footer-description {
  background-color: rgb(76, 84, 92);
  min-height: 20vh;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 0;
}
.footer-description .contato {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
  gap: 15px;
}
.footer-description .direitos {
  display: flex;
  justify-content: center;
}
.footer-description .direitos p {
  font-size: 15px;
}

.buttons {
  display: flex;
}
.buttons .btn-flutuante {
  position: fixed;
  bottom: 14px;
  right: 24px;
  z-index: 99;
}
.buttons .btn-flutuante.topo {
  right: 100px;
}
.buttons .btn-flutuante img {
  max-width: 74px;
  transition: transform 0.4s;
}
.buttons .btn-flutuante img:hover {
  transform: scale(1.1);
}
.buttons .btn-flutuante:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.buttons .btn-flutuante .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  padding: 4px;
  border-radius: 8px;
  background-color: black;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s;
}
.buttons .btn-flutuante .tooltip-text.topo {
  left: -200px;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
@media screen and (max-width: 768px) {
  .about-me {
    padding-top: 50px;
  }
  .about-me .description-about p {
    text-align: justify;
  }
  .about-me .description-about .stacks-icons {
    padding: 10px 0;
  }
  .about-me .description-about .stacks-icons i {
    font-size: 40px;
  }
  .projects .pesquisa {
    padding: 40px 0;
  }
  .projects .pesquisa input {
    width: 100%;
  }
  .projects .projeto {
    flex-direction: column;
  }
  .projects .projeto .description-projeto {
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .projects img {
    width: 100% !important;
  }
  .experience {
    padding-bottom: 20px;
  }
  .experience .experiencia {
    max-width: 100%;
  }
  .footer-description {
    justify-content: space-between;
    flex-direction: column;
  }
  .footer-description .contato {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-description .direitos {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-description .direitos p {
    font-size: 10px;
  }
  .btn-flutuante img {
    max-width: 40px !important;
  }
  .btn-flutuante.topo {
    right: 70px !important;
  }
}
body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

header, section {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 150%;
}

img {
  width: 100%;
}

input, button {
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  header, section {
    min-height: auto;
  }
}/*# sourceMappingURL=style.css.map */