* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #445964
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

section {
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul > li {
    list-style-type: none;
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 20px;
}

span {
    font-size: 1.5rem;
}

p {
    line-height: 1cm;
    text-align: justify;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.nome-titulo {
    display: flex;
    gap: 10px;
}

.nome-titulo .icone {
    width: 20%;
}

.container-secundario {
    height: 70%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
}

.container-secundario
.container-informacoes
.container-img > img {
    width: 100%;
    height: 100%;
}

.contato-info {
    display: flex;
}

.contato-info > h3 {
    margin-right: 10px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.container-informacoes {
    display: flex;
    justify-content: space-between;
    height: 70%;
}

.botoes-section-1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    row-gap: 50%;
}

.botoes-section-1 > a {
    border: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    background-color: #263138;
    border-radius: 11px;
    color: #fff;
    cursor: pointer;
}

.botoes-section-1 
.midias-sociais {
    display: flex;
    align-items: center;
    gap: 30px;
}

.botoes-section-1
.midias-sociais > img {
    cursor: pointer;
}

.span-largo {
    font-size: 2rem;
    font-weight: bold;
}

.sobre {
    margin-top: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.nome {
    font-size: 3rem;
    font-weight: bold;
}

.portifolio {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    gap: 20px;
    height: 100%;
}

.wrapper > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: #445964;
    width: 100%;
    border-radius: 15px;
    max-height: 30%;
    height: auto;
    box-shadow: 2px 3px 10px 2px #000;
    padding: 10px;
    transition: 0.3s ease-in-out;
}

.card h1,
.card h4,
.card p {
    color: #fff !important;
}

.wrapper > div:hover {
    box-shadow: none;
}

.botoes-cards > button {
    font-size: 15px;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 150px;
    border-radius: 10px;
}