:root {
  --primario: #445964;
  --secundario: rgb(25, 34, 86);
  --branco: #fff;
  --cinza: gray;
  --preto: #000;
  --dark-mode: #1e1a1a;
}

* {
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
  color: var(--primario);
  transition: all 0.8s ease-in-out;
}

a {
  text-decoration: none;
  display: inline-block;
}

section {
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul > li {
  list-style-type: none;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 20px;
}

span {
  font-size: 1.5rem;
}

p {
  line-height: 1cm;
  text-align: justify;
}

ul > li > a {
  display: inline-block;
}

ul > li > a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--secundario);
  transition: width 0.3s;
}

ul > li > a:hover::after {
  width: 100%;
}

.section-projetos {
  height: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.nome-titulo {
  display: flex;
  gap: 10px;
  width: 25%;
}

.nome-titulo .icone {
  width: 15%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.menu > .modo > img {
  width: 40px;
  cursor: pointer;
}

.botao-topo {
  position: fixed;
  right: 50px;
  bottom: 60px;
  visibility: hidden;
  cursor: pointer;
}

/* .container-secundario {
    height: 70%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
}

.container-secundario
.container-informacoes
.container-img > img {
    width: 100%;
    height: 100%;
} */

/* .contato-info {
    display: flex;
}

.contato-info > h3 {
    margin-right: 10px;
} */

.section-1 {
  /* border: 1px solid black; */
}

.container-secundario {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-container {
  /* border: 1px solid blue; */
  width: 60%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px 1px var(--preto);
  position: absolute;
}

.img-usuario {
  /* border: 1px solid pink; */
  width: 50%;
  background-color: var(--branco);
}

.img-usuario > img {
  width: 100%;
  height: 100%;
}

.informacoes-usuario {
  /* border: 1px solid brown; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--branco);
}

.informacoes-usuario > .botoes-perfil {
  margin-top: 20%;
}

a {
  color: var(--secundario);
}

.informacoes-usuario > .botoes-perfil > a > button {
  border: none;
  outline: none;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  background-color: var(--branco);
  border: 1px solid var(--cinza);
}

.informacoes-usuario > .botoes-perfil > a > button:hover {
  background-color: var(--secundario);
  color: var(--branco);
  cursor: pointer;
}

.informacoes {
  display: flex;
}

.midias-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #ee0d63; */
  height: 100%;
  gap: 50px;
  background-color: var(--secundario);
  padding: 30px;
}

.midias-sociais > a {
  color: var(--branco);
  cursor: pointer;
  transition: all 0.1s linear;
}

.midias-sociais > a:hover {
  transform: scale(1.2);
}

/* .informacoes {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
} */

.container-informacoes {
  display: flex;
  justify-content: space-between;
  height: 70%;
}

.botoes-section-1 {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  row-gap: 50%;
}

.botoes-section-1 > a {
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  background-color: var(--secundario);
  border-radius: 11px;
  color: var(--branco);
  cursor: pointer;
}

/* .botoes-section-1 
.midias-sociais {
    display: flex;
    align-items: center;
    gap: 30px;
}

.botoes-section-1
.midias-sociais > img {
    cursor: pointer;
} */

.span-largo {
  font-size: 2rem;
  font-weight: bold;
}

.sobre {
  margin-top: 5em;
  display: flex;
  align-items: center;
  row-gap: 15%;
  flex-direction: column;
  height: 100%;
}

.hard-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10%;
  width: 100%;
  height: 100%;
}

.icones-hard-skills {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icones-hard-skills > img {
  width: 50px;
}

.icones-hard-skills > img:hover {
  transform: scale(1.1);
}

.code-tag > span {
  color: var(--secundario);
  font-size: 3em;
  font-weight: bold;
}

.nome {
  font-size: 3rem;
  font-weight: bold;
}

.portifolio {
  margin-bottom: 5%;
}

/* .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 30px;
} */

/* .projetos-position-right {
    display: flex;
    gap: 5%;
    justify-content: flex-end;
    margin-bottom: 5%;
} */

.projetos-position {
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin-bottom: 5%;
}

.projetos-descricao-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projetos-descricao-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.projetos-position img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.projetos-img {
  width: 30%;
  height: 30vh;
  border-radius: 5px;
}

.projetos-img > img {
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--cinza);
}

.projetos-img > img:hover {
  transform: scale(1.1);
}

.card {
  display: flex;
  gap: 5%;
  margin-bottom: 50px;
}

.card-right {
  justify-content: flex-end;
}

.card-left {
  justify-content: flex-start;
}

/* .wrapper > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 2px 3px 10px 2px #000;
    transition: 0.3s ease-in-out;
}

.wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.wrapper > div:hover *:not(.button-card, .titulo-card) {
    filter: blur(3px);
} */

/* .botoes-cards > button {
    font-size: 15px;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 150px;
    border-radius: 10px;
} */

/* .modal {
    display: none;
    z-index: 999;
    position: fixed;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgb(244, 244, 244);
    top: 100px;
    padding: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20px;
    box-shadow: 1px 4px 10px 2px black;
}

.titulo-fechar {
    display: flex;
    width: 100%;
}

.titulo-modal {
    width: 100%;
    display: flex;
    justify-content: center;
} */

/* .card {
    position: relative;
} */

/* .card .button-card {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 1;
    bottom: 10px;
    width: 9rem;
    height: 2.2em;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 1px 4px 10px 2px black;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
}

.card:hover .button-card,
.card:hover .titulo-card {
    display: block;
    opacity: 1;
    visibility: visible;
}

.card::after {
    content: '';
    height: 6px;
    position: absolute;
    background: rgb(86, 86, 206);
    width: 45px;
    top: -0.8em;
    left: 0.1em;
    border-radius: 20px;
}

.card .titulo-card {
    position: absolute;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;
    z-index: 1;
    width: 9rem;
    height: 2.2em;
    text-align: center;
    width: 100%;
} */

.hidden {
  display: none;
}

.show {
  display: flex;
}

.botao-ver-mais {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.botao-ver-mais > button {
  border: none;
  outline: none;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  cursor: pointer;
  width: 50%;
  background-color: var(--branco);
  border: 1px solid var(--cinza);
  transition: 0.5s all;
}

.botao-ver-mais > button:hover {
  background-color: var(--secundario);
  color: var(--branco);
}

.botoes-projeto {
  display: flex;
  gap: 20px;
}

.botoes-projeto > a {
  border: 1px solid var(--preto);
  border-radius: 26px;
  padding: 3px;
  width: 100%;
  height: 80%;
  cursor: pointer;
  transition: 0.3s all;
}

.botoes-projeto > a:hover {
  transform: scale(1.1);
}

.bold {
  font-weight: bold;
}

.enfeite-esquerdo {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -30px;
  left: -30px;
  border-top: 5px solid var(--secundario);
  border-left: 5px solid var(--secundario);
}

.enfeite-esquerdo::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-top: 4px solid var(--secundario);
  border-left: 4px solid var(--secundario);
}

.enfeite-direito {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -30px;
  bottom: -30px;
  border-bottom: 5px solid var(--secundario);
  border-right: 5px solid var(--secundario);
}

.enfeite-direito::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-bottom: 4px solid var(--secundario);
  border-right: 4px solid var(--secundario);
}

.pulse {
  animation: pulse-animation 2s infinite;
  border-radius: 30px;
}

span.texto {
  font-weight: bold;
  color: #dd7732;
}

span.cursor {
  display: inline-block;
  background-color: var(--secundario);
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

span.cursor.typing {
  animation: none;
}

.filtro {
  margin-bottom: 20px;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

@keyframes blink {
  0% {
    background-color: var(--secundario);
  }
  49% {
    background-color: var(--secundario);
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: var(--secundario);
  }
}


/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container-secundario {
    border: 1px solid red;
  }
}

/* Celular */
@media screen and (max-width: 767px) {
  .container-secundario {
    border: 1px solid blue;
  }
}
